<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Hiro CMS</a>
    by Hiroyuki Watanabe
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_home_path %></li>
      <li><%= link_to "Contact", static_pages_home_path %></li>
      <li><a href="http://railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>